@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-100 text-slate-800;
        font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    }
}

@layer components {
    .th {
        @apply px-4 py-3 text-left font-semibold text-slate-600;
    }
    .td {
        @apply px-4 py-3 text-slate-700;
    }
}
